{% extends "layout.html" %}

{% block layout %}
    <a href="/en"class="langch">En</a>
    <div class="container">
        <h1>Генератор паролей</h1>
        <form class="" method="POST">
            {{ form.hidden_tag() }}


            <div class="">
                {{form.length.label(class="form-control-label")}}<br>
                {{form.length(class="form-control-label")}}<br>

                {% if form.length.errors %}
                    <h3 id = 'Неверное содержание!'>Invalid value</h3>
                {% endif %}

                {{form.how_many_passwords.label(class="form-control-label")}}<br>
                {{form.how_many_passwords(class="form-control-label")}}<br>

                {% if form.how_many_passwords.errors %}
                    <h3 id = 'Неверное содержание!'>Invalid value</h3><br>
                {% endif %}

                {{ form.Upper_register_field.label}}
                {{ form.Upper_register_field(class="check")}}<br>

                {{ form.Digits_field.label }}
                {{ form.Digits_field(class="check") }}<br>

                {{ form.Punctuation_field.label}}
                {{ form.Punctuation_field(class="check") }}<br>

            </div>

            <div class="">
                {{form.submit(class="btn btn-outline-info")}}<br>
            </div>
        </form>
    </div>

        {% if form.valid == True %}
            <div class="">
                    <h3>Сгенерированные пароли:</h3><br>

                    {%for password in form.password%}
                        <h3>{{password}}</h3><br>
                    {% endfor %}
            </div>
        {% endif %}
{% endblock layout %}
